html {
    font-family: 'atkinson_hyperlegible';
    background-color: map-get($map: $colors, $key: white);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    // overflow: hidden;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
}

.navbar-space {
    padding-top: $navbar-space;
}