/* COLORS */
$colors: (
    white: #F5F5F5,
    black: #0E0E0E,
    yellow: #F9F09D,
    green: #A8E7A7,
    blue: #9DF4F9,
    purple: #C69DF9,  
);

/*  BREAKPOINTS */
$breakpoints: (
    xs: 576px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

/* SIZING */
$base-space: 8px;
$gutter-bottom: 20px;
$navbar-space: 94px;